{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container register">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-5 text-center">Réinitialisation du mot de passe</h1>
                <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                {{ form_start(form) }}
                {{ form_row(form.plainPassword) }}
                <input type="hidden" name="token" value="{{ token }}">
                <button type="submit" id="valider">
                    Valider
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
