<footer id="footer">
    <button type="button" class="btn btn-outline-primary btn-floating btn-lg" id="to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>SnowTricks - 2022</span></strong>.  Le contenu de ce site est fictif, mais entièrement fonctionnel créé dans un but d'apprentissage.
        </div>
        <div class="credits">
            Contact <a href="https://www.bastienmoreau.com/">Bastien Moreau</a>
        </div>
    </div>
</footer>