{% extends 'base.html.twig' %}

{% block title %}New Tricks{% endblock %}

{% block body %}
    {% set titleh1 = 'Ajouter un tricks' %}
    {{ include('tricks/_form.html.twig') }}

{#    <a href="{{ path('app_tricks_index') }}">back to list</a>#}
{% endblock %}
